@font-face {
	font-family: 'Assistant';
	src: url('../fonts/Assistant-Regular.eot');
	src: local('☺'), url('../fonts/Assistant-Regular.woff') format('woff'), url('../fonts/Assistant-Regular.ttf') format('truetype'), url('../fonts/Assistant-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {    
    height: 100vh;
    background-color: #f2f4f7;
    direction: rtl;
    font-family: 'Assistant';
}
.loader {
    display: flex;
    display: none;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: .9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
}
@import 'loader';
@import './slick/slick';
@import './slick/slick-theme';
.h1 {
    font-size: 34px;
    margin: 20px 0;
}

.header {
    background-color: #0a171f;
    width: 100%;
    padding: 30px 0;
    border-bottom: 4px solid #a4ca05;
    &-container {
        direction: ltr;
        display: flex !important;  
    }
    .menu {
        margin-left: auto;
        ul {
            display: flex;
            flex-direction: row-reverse;
            list-style: none;
            margin: 0;
            li {
                margin: 0 8px;
            }
        }
    }
}

.container {
    max-width: 1170px;
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.items {
    display: flex;
    .item {
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        margin: 0 20px;
    }
}

.content {
    background-color: #fff;
    padding: 60px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.form {
    margin-top: 50px;    
    input, .select-container {        
        width: 46%;
        box-sizing: border-box;
        margin: 1% 2%;
    }
    .group {
        max-width: 62%;
        margin: 0 auto;
        justify-content: center;
    }
}

.inline-group {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .inline-group-block {
        display: inline-block;
        margin: 0 10px;
    }
}

.button_submit {
    border: none;
    border-radius: 30px;
    background: #92b523;
    color: #fff;
    box-shadow: 6px 6px 20px #bfbfbf;
    transition: .4s;
    font-size: 28px;
    padding: 3px 50px 8px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    outline: none;
    &:hover, &:focus {
        background: #7c9b19;
    }
    &:active {
        transform: translateY(4px);
        box-shadow: 2px 1px 10px #bfbfbf;
    }
}

.button_cancel {
    border: none;
    border-radius: 20px;
    background: #c5c5c5;
    color: #fff;    
    transition: .4s;
    font-size: 20px;
    padding: 10px 50px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    outline: none;
    &:hover, &:focus, &:active {
        background: #b9b8b8;
    }     
}

@import 'form-control';

.text {
    text-align: center;
    color: #131c25;    
    font-size: 19px;
    font-weight: 700;
    span:first-child {
        padding-top:2px;vertical-align: middle;display: inline-block;
    }
}

.m-b {
    margin-top: 40px
}

@import 'navigation';