html, body {
    margin: 0;
    padding: 0;
}

body {    
    height: 100vh;
    background-color: #f2f4f7;
    direction: rtl;
}
.loader {
    display: flex;
    display: none;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: .9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;    
}
@import 'loader';

.header {
    background-color: #0a171f;
    width: 100%;
    padding: 30px 0;
    border-bottom: 4px solid #b2b82a;
    &-container {
        direction: ltr;        
    }
}

.container {
    max-width: 1170px;
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    background-color: #fff;
    padding: 60px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.form {
    margin-top: 30px;    
    input, select {        
        width: 46%;
        box-sizing: border-box;
        margin: 1% 2%;
    }
    .group {
        max-width: 65%;
        margin: 0 auto;
        justify-content: center;
    }
}

.inline-group {
    display: flex;
    justify-content: center;
    .inline-group-block {
        display: inline-block;
        margin: 0 10px;
    }
}

.button_submit {
    border: none;
    border-radius: 20px;
    background: #9ea530;
    color: #fff;
    box-shadow: 6px 6px 20px #bfbfbf;
    transition: .4s;
    font-size: 20px;
    padding: 10px 50px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    outline: none;
    &:hover, &:focus {
        background: #8a9128;
    }
    &:active {
        transform: translateY(4px);
        box-shadow: 2px 1px 10px #bfbfbf;
    }
}

.button_cancel {
    border: none;
    border-radius: 20px;
    background: #c5c5c5;
    color: #fff;    
    transition: .4s;
    font-size: 20px;
    padding: 10px 50px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    outline: none;
    &:hover, &:focus, &:active {
        background: #b9b8b8;
    }     
}

@import 'form-control';